<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
        }

        span {
            margin-top: 10px;
            display: block;
        }
    </style>
</head>

<body>

    <div class="container">
        <img src="http://i.imgur.com/oUAKMC5.png" />
        <span>Olá, {{name}}</span> <br>
        <span>Você solicitou a alteração da senha.</span>
        <span>Para realizar a troca clique no link <a href={{link}}>{{link}}</a></span>
        <span>Caso não tenha sido você quem solicitou a alteração, basta ignorar esse e-mail.</span>
        <strong>Obrigado!</strong>
        <h3>Equipe | <strong>Rentx</strong></h3>
    </div>
</body>

</html>